{:layout
 {:content
  [{:type "row"
    :content
    [{:type "column"
      :content
      [{:type "row"
        :content
        [{:react-component "A"}
         {:react-component "D"}]}
       {:type "row"
        :content
        [{:react-component "B"}
         {:react-component "E"}
         {:react-component "F"}]}
       ]}
     {:react-component "C"}]}]}}
