;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[nubank/workspaces "1.1.2"]
  [reagent "1.0.0"]]

 :builds {:workspaces {:target           :browser
                       :output-dir       "public/js/workspaces"
                       :asset-path       "/js/workspaces"
                       :compiler-options {:output-feature-set :es7
                                          ;; this line is essential for workspaces compatibility
                                          ;; if using shadow-cljs >=2.15.13
                                          :global-goog-object&array true
                                          }
                       :js-options {:resolve {"goog.debug.Logger.Level"
                                              {:target :global
                                               :global "goog.log.Logger.Level"}}},
                       :devtools         { ;:preloads   [fulcro.inspect.preload ] ; include for Fulcro Inspect support
                                          :http-root          "public"
                                          :http-port          8080
                                          :http-resource-root "."
                                          :preloads []}
                       :modules          {:main {:entries [example.workspaces.main]}}}
          }
 }
