[[org.clojure/data.json "1.0.0"]
 [leiningen-core "2.9.4"]
 
 [cheshire "5.10.0"]
 [clj-commons/clj-yaml "0.7.0"]
 [garden "1.3.5"]
 [hiccup "1.0.5"]
 [stylefy "1.13.3"]
 [mhuebert/shadow-env "0.1.6"]
 ]
