{:source-paths ["src"]
 :dependencies [[garden "1.3.10"]
                [macchiato/core "0.2.22"]
                [macchiato/hiccups "0.4.1"]
                [metosin/reitit-ring "0.5.15"]
                [reagent "1.1.0"]]
 
 :dev-http {8080 "build/public/"}  ;; this exposes e.g. http://localhost:8888/js/front.js --> build/public/js/front.js
 :builds {:main {:target :browser
                 :output-dir "build/public/js"
                 :asset-path "js"
                 :modules {:front {:init-fn app.front/init!}}
                 :devtools {:after-load app.front/reload!}}
          
          :server {:target :node-script
                   :output-to "build/server.js"
                   :main app.server/main}}}

